apiVersion: v1
kind: Service
metadata:
  name: catalogo-api
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
  selector:
    app: catalogo-api